@{
    List<WebApplication1.Models.tbl_image> listSlideImages = ((List<WebApplication1.Models.tbl_image>)ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_LIST_SLIDE_IMAGES]);
}

<!DOCTYPE html>
<html xmlns:fb='http://www.facebook.com/2008/fbml'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-language" content="vi" />
    <meta name="language" content="vi" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keyword" />
    <meta name="robots" content="noodp,index,follow" />
    <meta name="revisit-after" content="1 days" />
    <meta name="copyright" content="Copyright © 2016 by Khôi Nguyên Entertainment" />
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:image" content="@ViewBag.Image" />
    <meta property="og:type" content="object" />
    <meta property="og:url" content="http://khoinguyenentertainment.somee.com/" />
    <meta property="og:description" content="@ViewBag.Description">
    <!-- Dublin Core-->
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    <meta name="DC.title" content="@ViewBag.Title" />
    <meta name="DC.identifier" content="http://khoinguyenentertainment.somee.com/" />
    <meta name="DC.description" content="@ViewBag.Description" />
    <meta name="DC.subject" content="@ViewBag.Keyword" />
    <meta name="DC.language" scheme="UTF-8" content="vi" />
    <!-- Geo Meta Tags -->
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="Ho Chi Minh City" />
    <meta name="geo.position" content="10.816354;106.722939" />
    <meta name="ICBM" content="10.816354, 106.722939" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/mycss.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styleweb.css" rel="stylesheet" type="text/css"

    <!-- Owl Carousel Assets -->
    <link href="~/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">

    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript" language="javascript" src="~/assets/plugins/owl-carousel/owl.carousel.js"></script>


    <meta property="fb:app_id" content="547990348720989" />

</head>
<body>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-82775638-1', 'auto');
        ga('send', 'pageview');

    </script>
    <header>
        <div class="container">
            <div class="row">
                <div id="banner" class="col-md-9 col-sm-12 col-xs-12">
                    <a href="">
                        <img class="img-responsive" src="~/assets/images/banner.png" alt="MyWebsite" />
                    </a>
                </div>
                <div id="info-banner" class="col-md-3 col-sm-12 col-xs-12">
                    <div style="padding:5px;">
                        <p>
                            <img alt="" src="http://demo61.thuvienweb.info/images/noidung/images/hotline.png" style="height:20px; width:20px">&nbsp; &nbsp;<span style="font-size:16px">0909 266 986 - 0909 267 986</span>
                        </p>
                        <p>
                            <span style="font-size:16px"><img alt="" src="http://demo61.thuvienweb.info/images/noidung/images/053aef_44636d82dd784e1a9afc43bd83618fc5.png" style="height:20px; width:20px">&nbsp; &nbsp;chinguyen241294@gmail.com</span>
                        </p>
                        <p>
                            <a href="https://www.facebook.com/myphamccwhite" target="_blank"><span style="color:#000000"><span style="font-size:16px"><img alt="" src="http://demo61.thuvienweb.info/images/noidung/images/face.png" style="height:20px; width:20px">&nbsp; &nbsp;Facebook</span></span></a>
                        </p>
                        <p>
                            <a href="http://www.youtube.com/" target="_blank"><span style="color:#000000"><span style="font-size:16px"><img alt="" src="http://demo61.thuvienweb.info/images/noidung/images/you.png" style="height:20px; width:20px">&nbsp; &nbsp;Youtube</span></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="navbar navbar-inverse" id="main-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Trang chủ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Giới thiệu", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Sản phẩm", "Items", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Tin tức", "News", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Chính sách", "Policy", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Liên hệ", "Contact", "Home")
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_SHOPPING_CARD_ITEMS_AMOUNT].ToString().Equals("0"))
                        {
                            <a><i class="fa fa-cart-arrow-down fa-1-5-x"></i>: 0</a>
                        }
                        else
                        {
                            <a href="@Url.Action("ShoppingCard", "Home")">
                                <i class="fa fa-cart-arrow-down fa-1-5-x"></i>: @ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_SHOPPING_CARD_ITEMS_AMOUNT]
                            </a>
                        }
                    </li>
                    @if ((bool)ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_IS_LOGIN])
                    {
                        <li>
                            <a href="">
                                Xin chào, @Session[WebApplication1.Controllers.Constants.KEY_SESSION_MEMBER_USERNAME]!
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "Home")">
                                Thoát
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("SignUp", "Home")">
                                Đăng ký
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Login", "Home")">
                                Đăng nhập
                            </a>
                        </li>
                    }
                </ul>
                </ul>
                <!--<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")-->
            </div>
        </div>
    </div>

    </div>




    <!-- Skitter Styles -->
    <link href="http://myphamccwhite.com/skin/temp1/templates/owl-carousel/owl.carousel.css" type="text/css" media="all" rel="stylesheet" />

    <link href="http://myphamccwhite.com/skin/temp1/templates/owl-carousel/owl.theme.css" type="text/css" media="all" rel="stylesheet" />
    <link href="http://myphamccwhite.com/skin/temp1/templates/owl-carousel/owl.transitions.css" type="text/css" media="all" rel="stylesheet" />
    <!-- Skitter JS -->
    <script type="text/javascript" language="javascript" src="http://myphamccwhite.com/skin/temp1/templates/owl-carousel/owl.carousel.js"></script>

    <!-- Init Skitter -->
    <script type="text/javascript" language="javascript">
    $(document).ready(function () {
    $('#carousel').owlCarousel({
    autoplayTimeout: 4000,
    autoplayHoverPause: true,
    animateOut: 'fadeOut',
    items: 1,
    itemsDesktop: [1199, 1],
    itemsDesktopSmall: [979, 1],
    itemsTablet: [768, 1],
    itemsMobile: [479, 1],
    pagination: false,
    navigation: false,
    autoPlay: true,
    transitionStyle: "fade",
    });
    //center_middle($('#carousel .carousel_item'));
    });
    </script>
    

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    @if (listSlideImages != null)
    {
        Html.Raw("bambi tét coi");
        Html.Raw("<div id='carousel' class='center - block'>");
        for (int i = 0; i < listSlideImages.Count(); i++)
        {
            WebApplication1.Models.tbl_image item = listSlideImages[i];
            Html.Raw("< div class='carousel_item center - middle' style='width: 100 % '> < a href = '' > < img class='img-responsive-slider' style='width:100%' src='~/assets/images/slide/" + item.image + "' alt='" + i + "' /></a></div>");
        }
        Html.Raw("</div>");
    }

    <div id="main-container">
    <div class="container">
    <div class="row">
    <div id="left-container" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    @{
        var listModules = (List<WebApplication1.Models.tbl_module>)ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_LIST_MODULE];

        @*Start of a partial view*@
    foreach (WebApplication1.Models.tbl_module module in listModules)
    {
        @Html.Action(module.name_partial, "PartialView");
    }
    @*End of a partial view*@
    }
    </div>

    <div id="center-container" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    @RenderBody()
    </div>
    </div>
    </div>
    </div>
    <footer>
    <div id="footer_mau_gh">
    <div class="container">
    <div class="row">
    <div id="footer-left" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <h3 class="title_f"><span> Thông tin</span></h3>
    <div class="detail_f">
    <h3><img alt="" src="~/assets/images/logo.png" style="float:left; height:65px; margin-right:10px; width:100px"><span style="font-size:28px"><strong>Công Ty TNHH TM - DV Mỹ Phẩm CC.WHITE</strong></span></h3>
    <h3>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Địa chỉ:&nbsp;427 lô J, cư xá Thanh Đa, P.27, Q.Bình Thạnh, TP.HCM<br>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Hotline : 01225 69 71 81<br />
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Email: trananhkhoi46@gmail.com&nbsp;
    </h3>
    <p>&nbsp;</p>
    </div>
    </div>
    <div id="footer-right" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <h3 class="title_f"><span> Thống kê</span></h3>
    <div class="detail_f text-center">
    <!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
    <!-- Histats.com  START  (aync)-->
    <script type="text/javascript">
    var _Hasync = _Hasync || [];
    _Hasync.push(['Histats.start', '1,3556524,4,429,112,75,00011111']);
    _Hasync.push(['Histats.fasi', '1']);
    _Hasync.push(['Histats.track_hits', '']);
    (function () {
    var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
    hs.src = ('//s10.histats.com/js15_as.js');
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
    })();</script>
    <noscript><a href="/" target="_blank"><img src="//sstatic1.histats.com/0.gif?3556524&101" alt="" border="0"></a></noscript>
    <!-- Histats.com  END  -->
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>
    <div id="copyright" class="text-center">
    &copy; @DateTime.Now.Year - Bản quyền thuộc về: <a href="">MyWebsite</a>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type='text/javascript'>window._sbzq || function (e) { e._sbzq = []; var t = e._sbzq; t.push(["_setAccount", 8047]); var n = e.location.protocol == "https:" ? "https:" : "http:"; var r = document.createElement("script"); r.type = "text/javascript"; r.async = true; r.src = n + "//static.subiz.com/public/js/loader.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i) }(window);</script>
</body>
</html>
