@model IEnumerable<WebApplication1.Controllers.DataHelper.ShoppingCardItemModel>
@{
    ViewBag.Title = "ShoppingCard";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
    WebApplication1.Models.tbl_member currentMember = (WebApplication1.Models.tbl_member)ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_MEMBER_ACCOUNT];
}
<div class="frame_product_mau_gh order">
    <div class="title_f_p_m_gh_pro">
        <span>Đặt hàng</span>
    </div>
    <div class="main_f_p_m_gh table-responsive checkout-table">
        <form method="post" action="">
            <table class="table">
                <thead>
                    <tr>
                        <td class="text-center">&nbsp;</td>
                        <td class="text-center">Tên sản phẩm</td>
                        <td class="text-center">Số lượng</td>
                        <td class="text-center">Đơn giá</td>
                        <td class="text-center">Tổng</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (WebApplication1.Controllers.DataHelper.ShoppingCardItemModel item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <a href='@Url.Action("ProductDetail", "Home", new { @id = @item.id})'>
                                    <img class="img-thumbnail" src="~/assets/images/@(String.IsNullOrEmpty(item.image) ? "noimage.png" : item.image)" alt="@item.name" width="150">
                                </a>
                            </td>
                            <td class="text-center">
                                <a href='@Url.Action("ProductDetail", "Home", new { @id = @item.id})'>@item.name</a>
                            </td>
                            <td class="text-center">
                                <div class="input-group btn-block">
                                    <input type="text" name="qty1" min="0" max="25" id="qty1" size="6" value="@item.quantity" class="slsp form-control text-center" disabled="">
                                </div>
                            </td>
                            <td class="text-center">
                                @item.price @ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_CURENCY]

                            </td>
                            <td class="text-center">
                                @item.total @ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_CURENCY]
                            </td>
                        </tr>
                    }
                </tbody>





                <tfoot>
                    <tr>
                        <td class="text-left">
                            <input type="submit" name="buttonChangeCurrency" id="submit" value="USD" class="btn btn-primary pull-left">
                        </td>

                        <td class="text-left">
                            <input type="submit" name="buttonChangeCurrency" id="submit" value="VND" class="btn btn-primary pull-left">
                        </td>

                        <td class="text-right" colspan="4">
                            <strong>Tổng tiền : </strong>
                        </td>
                        <td class="text-left">
                            <input type="hidden" name="InputTotalCost" value="@ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_SHOPPING_CARD_ALL_ITEMS_COST]">
                            <input type="hidden" name="InputCurency" value="@ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_CURENCY]">
                            @ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_SHOPPING_CARD_ALL_ITEMS_COST] @ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_CURENCY]
                        </td>
                    </tr>
                </tfoot>
            </table>

















            <br>
            <div class="info-order no-fl mg-auto">
                <div class="info_user">
                    <div class="text-center h3">Thông tin giao hàng</div>
                    <hr>
                    <div class="content-info-user">
                        <mark class="cust_mark">Những ô có dấu <span class="imark">*</span> là bắt buộc phải nhập/chọn</mark>
                        <br><br>
                        <div class="form-group">
                            <label for="InputName">Họ và tên người gửi <span class="imark">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" disabled="true" name="InputName" class="form-control" id="InputName" value="@currentMember.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputPhone">Điện thoại người gửi <span class="imark">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input type="text" disabled="true" class="form-control" name="InputPhone" id="InputPhone" value="@currentMember.phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email người gửi <span class="imark">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon">&#64;</span>
                                <input type="email" disabled="true" class="form-control" name="InputEmail" id="InputEmail" value="@currentMember.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputAddress">Địa chỉ người gửi <span class="imark">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                <input type="text" disabled="true" name="InputAddress" class="form-control" id="InputAddress" value="@currentMember.address">
                            </div>
                        </div>


                        <br/>


                        <div class="form-group">
                            <label for="InputName">Họ và tên người nhận <span class="imark">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" name="InputNameReceiver" class="form-control" id="InputNameReceiver" value="@currentMember.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputPhone">Điện thoại người nhận <span class="imark">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input type="text" class="form-control" name="InputPhoneReceiver" id="InputPhoneReceiver" value="@currentMember.phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email người nhận <span class="imark">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon">&#64;</span>
                                <input type="email" class="form-control" name="InputEmailReceiver" id="InputEmailReceiver" value="@currentMember.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputAddress">Địa chỉ người nhận <span class="imark">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                <input type="text" name="InputAddressReceiver" class="form-control" id="InputAddressReceiver" value="@currentMember.address">
                            </div>
                        </div>



                        <br>

                        <div class="form-group">
                            <label for="InputAddress">Ghi chú <span class="imark">*</span></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                <input type="text" name="InputNote" class="form-control" id="InputNote" value="">
                            </div>
                        </div>
                        <input type="submit" name="buttonPay" id="submit" value="Đặt hàng" class="btn btn-primary pull-right">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<style type="text/css">
    .no-fl {
        float: none;
    }

    .mg-auto {
        margin: auto;
    }

    .table-responsive.checkout-table {
        padding-bottom: 30px;
    }

    .table tr td input.slsp {
        display: inline-block;
        width: auto;
        border-radius: 0px;
    }

    .info-order {
        width: 500px;
    }

        .info-order .h3 {
            font-size: 24px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
</style>