@model Tuple<WebApplication1.Models.tbl_item, List<WebApplication1.Models.tbl_item>>
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/Zoom/jquery.fancybox.css">
<script src="~/Scripts/Zoom/jquery.elevatezoom.js"></script>
<script src="~/Scripts/Zoom/jquery.fancybox.js"></script>
<script type="text/javascript">
    var loadIcon = "//cdn.shopify.com/s/files/1/0928/4804/t/2/assets/loading.gif?2264549637723899300";
    function productZoom(status) {
        if (status == 'enable') {
            $("#proimage").elevateZoom({

                // zoomType: "inner",
                // cursor: 'crosshair',

                gallery: 'thumbs_list',
                galleryActiveClass: 'active',
                imageCrossfade: true,
                scrollZoom: true,
                onImageSwapComplete: function () {
                    $(".zoomWrapper div").hide()
                },
                loadingIcon: loadIcon
            });
            $("#proimage").bind("click", function (e) {
                var ez = $('#proimage').data('elevateZoom');
                $.fancybox(ez.getGalleryList());
                return false;
            });
        }
        else {
            $(document).on('click', '#thumblist .thumb_item a', function () {
                if ($(this).attr('href')) {
                    var new_src = $(this).data('image');
                    var new_title = $(this).attr('title');
                    var new_href = $(this).attr('href');
                    if ($('#proimage').attr('src') != new_src) {
                        $('#proimage').attr({
                            'src': new_src,
                            'alt': new_title,
                            'title': new_title
                        });
                    }
                }
            });
        }

    }
    function productImage() {
        $('#thumblist').owlCarousel({
            navigation: true,
            items: 4,
            itemsDesktop: [1199, 4],
            itemsDesktopSmall: [979, 4],
            itemsTablet: [768, 4],
            itemsTabletSmall: [540, 4],
            itemsMobile: [360, 4]
        });
    }
    function responsiveProductZoom() {
        if (($(window).width()) >= 992) {
            productZoom('enable');
        }
        else if (($(window).width()) <= 991) {
            productZoom('disable');
        }
    }
    $(document).ready(function () {
        productImage();
        responsiveProductZoom();
        $('.control-minus').click(function () {
            var quantity = $('input[name="quantity"]').val();
            if (quantity > 0) {
                $('input[name="quantity"]').val(quantity - 1);
                $('input[name="name"]').trigger("change");
            }
        });
        $('.control-add').click(function () {
            var quantity = $('input[name="quantity"]').val();
            var new_quant = parseInt(quantity) + 1;
            $('input[name="quantity"]').val(new_quant);
            $('input[name="name"]').trigger("change");
        });

    });
</script>
<script>
    $("#img_01").elevateZoom({ gallery: 'gallery_01', cursor: 'pointer', galleryActiveClass: 'active' });
    //pass the images to Fancybox
    $("#img_01").bind("click", function (e) {
        var ez = $('#img_01').data('elevateZoom');
        $.fancybox(ez.getGalleryList());
        return false;
    });
</script>



<h2 class="title_f_p_m_gh_pro">
    <span>Chi tiết</span>
</h2>








<div class="frame_product_mau_gh">
    <div class="main_f_p_m_gh product_top primary_block clearfix">
        <div class="main-img-prod product-column product-left-column col-md-4 col-sm-6 col-xs-12">
            <div class="fullpic">
                @if (String.IsNullOrEmpty(Model.Item1.image))
                {
                    <img class="img-responsive margin-auto" id="img_01" src="~/assets/images/noimage.png" alt="@Model.Item1.name">
                }
                else
                {
                    <img class="img-responsive margin-auto" id="img_01" src="~/assets/images/item/@Model.Item1.image" data-zoom-image="~/assets/images/item/@Model.Item1.image" alt="@Model.Item1.name">
                }
            </div>
            <div id="gallery_01" class="thumbnailListContainer">
                <h3>Xem hình ảnh khác</h3>
                @if (!String.IsNullOrEmpty(Model.Item1.image))
                {
                    <a href="#" class="active" data-image="~/assets/images/item/@Model.Item1.image" data-zoom-image="~/assets/images/item/@Model.Item1.image">
                        <img id="img_01" src="~/assets/images/item/@Model.Item1.image">
                    </a>
                }
            </div>
        </div>
        <div class="product-column product-center-column col-md-8 col-sm-6 col-xs-12">
            <h1 itemprop="name">@Model.Item1.name</h1>
            @if (Model.Item1.parent != 0)
            {
                <div class="category" itemprop="category">
                    <span>Category: </span>
                    <a href="@Url.Action("ItemsByCategory", "Home", new { categoryid = Model.Item1.parent })">@ViewBag.CategoryName</a>
                </div>
            }
            <div class="product-description rte" itemprop="description">
                @Model.Item1.description
            </div>
            <div class="clearfix">
                <div class="price">@Model.Item1.price VND</div>
            </div>
            <div class="quantity_wanted_p clearfix">
                <form method="GET" id="form" action="../AddItemToShoppingCard">
                    <div class="js-qty">
                        <input type="text" name="id" style="display:none" value="@Model.Item1.id">
                        <input type="text" name="price" style="display:none" value="@Model.Item1.price">
                        <button type="button" class="control-quantity control-minus">−</button>
                        <input type="text" name="quantity" size="5" id="qty" class="slsp" style="text-align:center" value="1">
                        <button type="button" class="control-quantity control-add">+</button>
                    </div>

                    <button type="submit" name="addcart" idtin="149" id="addcart" class="btn adtocart" )'">
                        <i class="fa fa-shopping-cart"></i>
                        <span id="AddToCartText">Thêm vào giỏ</span>
                    </button>
                </form>


                @Html.Raw(Model.Item1.online_payment)


                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#form").submit(function () {
                            $("#idtin").remove();
                            $("#addcart").remove();
                        });
                    });
                </script>
            </div>
            <div class="socialsharing_product no-print">
                <ul class="social-sharing list-unstyled">
                    <li>
                        <a class="btn btn-facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=@Request.Url.ToString()" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-google-plus" target="_blank" href="https://plus.google.com/share?url=@Request.Url.ToString()" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;">
                            <i class="fa fa-google-plus"></i> Google+
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-twitter" target="_blank" href="https://twitter.com/intent/tweet?text=Kem đặc trị thâm, sẹo rỗ&amp;url=@Request.Url.ToString()&amp;" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=@Request.Url.ToString()&amp;description=Kem đặc trị thâm do mụn, sẹo nhỏ, tàn nhang.&amp;media=http://myphamccwhite.com/images/item/13556073_1781799645385811_699637460_o-149.jpg" title="" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;">
                            <i class="fa fa-pinterest-p"></i> Pinterest
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="product__info_block">
        <div class="canh_css_frame">
            @Html.Raw(@Model.Item1.detail)
        </div>
    </div>
</div>
<div class="frame_product_mau_gh">
    <div class="title_f_p_m_gh_pro">
        Comment facebook

    </div>
    <div class="main_f_p_m_gh">

        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '547990348720989',
                    xfbml: true,
                    version: 'v2.7'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>


        <div class="fb-like"
             data-share="true"
             data-width="450"
             data-show-faces="true">
        </div>

        <div class="fb-comments"
             data-href="@ViewBag.CurrentURL" data-width="100%" data-numposts="5">
        </div>

    </div>
</div>
@if (Model.Item2.Count > 0)
{
    <div class="frame_product_mau_gh">
        <div id="productlist04" class="product_related" style="margin-top: 20px;">
            <h2 class="title_f_p_m_gh_pro">
                <span>Sản Phẩm Liên Quan</span>
            </h2>
            <div class="main_f_p_m_gh">
                <div class="main_pro_all">
                    <ul class="clearfix tag-3-col-lg tag-3-col-md tag-2-col-lg tag-2-col-lg tag-1-col-xs-o">
                        @foreach (var item in Model.Item2)
                        {
                            <li class="li_pro_all_ col-1-lg col-1-md col-1-sm col-1-xs col-1-xs-o clearfix">
                                <div class="category-item">
                                    <div class="category">
                                        <div class="category-s"></div>
                                        <div class="category-outer-1"></div>
                                        <div class="category-outer-2"></div>
                                        <div class="category-inner">
                                            <div class="category-img">
                                                <a href="@Url.Action("ProductDetail", "Home", new { id = item.id })">
                                                    <img class="img-responsive margin-auto" src="~/assets/images/@(String.IsNullOrEmpty(item.image)?"noimage.png":"item/"+@item.image)" alt="@item.name">
                                                </a>
                                            </div>
                                            <div class="category-name">
                                                <a href="">
                                                    @item.name
                                                </a>
                                            </div>
                                            <div class="event-price">
                                                <div class="price_prod_mau_gh" title="Kem dưỡng trắng da mặt">
                                                    <p class="sell-price">Giá thực: @item.price VND</p>
                                                </div>
                                            </div>
                                            <div class="detail_short">
                                                <p>@Html.Raw(@item.detail_short)</p>
                                            </div>
                                            <div class="btnChiTiet"><a href="@Url.Action("ProductDetail", "Home", new { id=item.id})"><span>Chi tiết</span></a></div>
                                            <div class="btnMuaHang" idsp="@item.id"><span>Đặt hàng</span></div>


                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="category-outer-3"></div>
                                        <div class="category-outer-4"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}