@model IEnumerable<WebApplication1.Controllers.DataHelper.ShoppingCardItemModel>
@{
    ViewBag.Title = "ShoppingCard";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="frame_product_mau_gh shopping-cart">
    <div class="title_f_p_m_gh_pro">
        <span>Giỏ hàng</span>
    </div>
    <div class=" main_f_p_m_gh table-responsive shopping-cart-table">
        <form method="post" name="frmForm" enctype="multipart/form-data" class="form-horizontal">
            <table class="table">
                <thead>
                    <tr>
                        <td class="text-center">&nbsp;</td>
                        <td class="text-center">Tên sản phẩm</td>
                        <td class="text-center">Số lượng</td>
                        <td class="text-center">Đơn giá</td>
                        <td class="text-center">Tổng</td>
                        <td class="text-center">&nbsp;</td>
                    </tr>

                </thead>
                <tbody>
                @foreach (WebApplication1.Controllers.DataHelper.ShoppingCardItemModel item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <a href='@Url.Action("ProductDetail", "Home", new { @id = @item.id})'>
                                <img class="img-thumbnail" src="~/assets/images/@(String.IsNullOrEmpty(item.image) ? "noimage.png" : item.image)" alt="@item.name" width="150">
                            </a>
                        </td>
                        <td class="text-center">
                            <a href='@Url.Action("ProductDetail", "Home", new { @id = @item.id})'>@item.name</a>
                        </td>
                        <td class="text-center">
                            <div class="input-group btn-block">
                                <input type="number" min="1" name="itemAmount_@item.id" value="@item.quantity" />
                            </div>
                        </td>
                        <td class="text-center">
                            @item.price VND
                        </td>
                        <td class="text-center">
                            @item.total VND
                        </td>
                        <td class="text-center">
                            <button type="button" onclick='window.location="@Url.Action("DeleteFromShoppingCard", "Home", new { id=item.id})"' class="btn btn-xs btn-default deletet" id="delete1" data-toggle="tooltip" data-placement="bottom" title="Xóa" value="1">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-right" colspan="4">
                            <strong>Tổng tiền : </strong>
                        </td>
                        <td class="text-center">
                            @ViewData[WebApplication1.Controllers.Constants.KEY_VIEWDATA_SHOPPING_CARD_ALL_ITEMS_COST] VND
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="text-right" colspan="6">
                            @if (Request.UrlReferrer != null) {
                            <a href="@Request.UrlReferrer">
                                <button type="button" class="btn btn-primary">
                                    Tiếp tục mua
                                </button>
                            </a>
                            }
                            <a href='@Url.Action("DeleteAllFromShoppingCard", "Home")' class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i>Xóa tất cả</a>
                            <a href="@Url.Action("PayShoppingCard", "Home")">
                                <button type="button" class="btn btn-primary">
                                    Thanh toán
                                </button>
                            </a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>